<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basicLayout}">
<!--decorate는 본문을 꾸미기 위해 사용할 레이아웃파일을 지정-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    디자인시 필요, 사용할때는 삭제-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<!--layout:fragment="content"-->
<div layout:fragment="content">
    <div class="d-flex justify-content-center mt-3 mb-3">
        <h2>게시판 목록</h2>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>내용</th>
            <th>등록일</th>
        </tr>
        </thead>
        <tbody>
<!--        model.addAttribute("list");-->
        <tr th:each="data:${list}"><!--반복되는 곳-->
<!--            이후에는 data로 사용-->
<!--            번호를 클리하면 삭제(번호), 제목을 클릭하면 수정(번호)-->
<!--            text에 값이 있으면 안에 내용이 지운 후 내용을 출력-->
            <td>
                <a th:href="@{/delete(id=${data.id})}" th:text="${data.id}">John</a>
            </td>
            <td>
                <a th:href="@{/update(id=${data.id})}" th:text="${data.subject}">Doe</a>
            </td>
            <td th:text="${data.content}">john@example.com</td>
            <td th:text="${#temporals.format(data.modDate,'yyyy-MM-dd')}">john@example.com</td><!--모양을 변경-->
        </tr>

        </tbody>
    </table>
<!--    페이지 번호-->
<!--    model.addAllAttributes(pageInfo-->
<!--     pageInfo.put("startPage",
        pageInfo.put("endPage",
        pageInfo.put("prevPage",
        pageInfo.put("nextPage",
        pageInfo.put("lastPage",
        pageInfo.put("currentPage", -->
    <div class ="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item" th:unless="${currentPage==1}">
                <a class="page-link" th:href="@{/list(page=${prevPage})}">이전</a>
            </li>

            <span th:each="page:${#numbers.sequence(startPage, endPage,1)}">
            <li class="page-item" th:class="${page==currentPage}?'active':''">
                <a class="page-link" th:href="@{/list(page=${page})}" th:text="${page}">2</a>
            </li><!--반복-->
        </span>

            <li class="page-item" th:unless="${endPage<=currentPage}">
                <a class="page-link" th:href="@{/list(page=${nextPage})}">다음</a></li>
        </ul>
    </div>

</div>
</body>
</html>